@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Chivo+Mono&family=Press+Start+2P&display=swap');

.root {
    /* -fx-background-image: url("icons/background8.gif");
    -fx-background-repeat: none;
    -fx-background-size: cover; */
    /* -fx-background-color: rgb(19, 92, 196); */
    /* -fx-background-color: linear-gradient(to bottom, rgb(0, 51, 51), rgb(0, 204, 204)); */
    -fx-background-color: transparent;
}

#stageContainer {
    /* -fx-background-color: rgb(19, 92, 196); */
}

.stageTitle, .progressText, #title, #attemptText {
    /* -fx-font-weight: bold; */
    /* -fx-font-family: "Changa One", cursive; */
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-fill: white;
    -fx-stroke: rgb(0, 32, 16);
    -fx-stroke-width: 2px;
}

.progressBackground {
    -fx-fill: rgb(120, 120, 120);
}

.progress {
    -fx-fill: red;
}

.pageIndicatorCircle {
    -fx-fill: rgb(80, 80, 80);
}

.currentPageCircle {
    -fx-fill: rgb(120, 120, 120);
}

#githubBtn, #playBtn, #menuBtn, #selectBtn, #nextStageBtn, #previousStageBtn {
    -fx-cursor: hand;
}

#menuPane, #stageSelectPane, .A3 {
    -fx-background-color: linear-gradient(to bottom, rgb(0, 51, 51), rgb(0, 204, 204));
}

.Megalovania {
    -fx-background-color: linear-gradient(to bottom, rgb(51, 0, 0), rgb(204, 0, 0));
}

#debugBox * {
    -fx-font-family: 'Chivo Mono', monospace;
    -fx-font-size: 15;
    -fx-fill: white;
}

#debugTitle {
    -fx-font-size: 10;
}